<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Login">
<parameter name="Browser" value="Chrome"/>
  <test name="LoginTest">
  	<parameter name="UserName" value="test"/>
  	<parameter name="Password" value="test"/>
  	<groups>
  		<run>
  			<include name="logingroup"></include>
  		</run>
  	</groups>
  	
    <classes>
      <class name="test.java.FirstTestNGTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
